# 1.0 Introdução

## 1.1 Problema de Negocio

[House Rocket][HRlink] plataforma de compras e vendas de imoveis.

***Modelo de Negocio:*** Comprar casas com preco baico e revender com o preco mais alto. 

***Desafio***: Encontrar bons negocios dentro do portifolio disponivel, ou seja, encotrar casas com preco baixo, em boa localizacao e que tenham um bom potencial de venda por um preco mais alta.

[HRlink]: https://sejaumdatascientist.com/os-5-projetos-de-data-science-que-fara-o-recrutador-olhar-para-voce/

## 1.2 Perguntas de Negocio.

1. Quais são os imóveis que a House Rocket deveria comprar e por qual preço?
2. Uma vez o imóvel comprado, qual o melhor momento para vende-lo e por qual preço?

## 1.3 Conteudo

Este Notebook está organu=izado como segue: 
- Dados: Carregamento dos dados
- Transformação: Processamento dos dados. 
- Visualização: Analise exploratoria dos dados.

# 2.0 Dados

In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
df_house = pd.read_csv('../data/kc_house_data.csv')

In [3]:
df_house.sample(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
576,8669160310,20141209T000000,266000.0,3,2.50,1805,3402,2.0,0,0,3,7,1805,0,2009,0,98002,47.3521,-122.212,2095,3402
3888,7963900100,20140912T000000,680000.0,3,2.50,2620,14248,2.0,0,0,4,8,1830,790,1977,0,98004,47.6281,-122.194,2620,12343
20312,7515000143,20140805T000000,399950.0,3,2.25,1360,1041,2.0,0,0,3,8,1094,266,2006,0,98117,47.6925,-122.375,1522,1382
12371,5315100393,20141211T000000,670000.0,3,1.00,1600,16868,1.0,0,1,3,7,990,610,1946,0,98040,47.5872,-122.241,2600,12735
12034,792500260,20140715T000000,430000.0,2,2.00,1440,213008,2.0,0,0,4,7,1440,0,1990,0,98070,47.3604,-122.457,1630,161172
7885,5015000180,20141110T000000,713500.0,3,2.00,1720,4200,2.0,0,0,3,8,1720,0,1908,1992,98112,47.6285,-122.301,1720,4200
15490,1096100010,20141028T000000,320000.0,2,1.00,1210,7040,1.0,0,0,3,7,1210,0,1952,0,98155,47.7450,-122.297,1210,7205
20053,8648900110,20140505T000000,555000.0,3,2.50,1940,3211,2.0,0,0,3,8,1940,0,2009,0,98027,47.5644,-122.093,1880,3078
9530,7787100210,20141209T000000,450000.0,4,2.25,2120,8267,2.0,0,0,3,8,2120,0,1996,0,98045,47.4885,-121.779,2150,7746
7342,6163901261,20140909T000000,395000.0,4,1.00,1440,8320,1.5,0,0,3,7,1440,0,1946,0,98155,47.7529,-122.318,1440,9230

In [11]:
df_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(15)
memory usage: 3.5 MB

In [5]:
df_house.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

# 3.0 Transformação

In [19]:
df_house['date'] = pd.to_datetime(df_house['date'])

In [34]:
df_house['seasonality'] = df_house['date'].dt.month.apply(
    lambda x: 'Winter' if (x == 1) | (x == 2) | (x == 12) 
    else ('Spring' if (x >= 3) & (x <= 5) 
    else ('Summer' if (x >= 6) & (x <= 8) 
    else 'Fall')))

In [23]:
df_house[['date', 'seasonality']]

            date seasonality
0     2014-10-13        Fall
1     2014-12-09      Winter
2     2015-02-25      Winter
3     2014-12-09      Winter
4     2015-02-18      Winter
...          ...         ...
21608 2014-05-21      Spring
21609 2015-02-23      Winter
21610 2014-06-23      Summer
21611 2015-01-16      Winter
21612 2014-10-15        Fall

[21613 rows x 2 columns]

In [6]:
 df_purchase = df_house[['id','zipcode', 'price', 'condition']].copy()

In [19]:
 df_purchase['price_median'] = df_purchase.groupby('zipcode')['price'].transform('median')

In [31]:
df_purchase

               id  zipcode     price  condition  price_median purchase_suggest
0      7129300520    98178  221900.0          3      278277.0          Comprar
1      6414100192    98125  538000.0          3      425000.0      Nao Comprar
2      5631500400    98028  180000.0          3      445000.0          Comprar
3      2487200875    98136  604000.0          5      489950.0      Nao Comprar
4      1954400510    98074  510000.0          3      642000.0          Comprar
...           ...      ...       ...        ...           ...              ...
21608   263000018    98103  360000.0          3      550000.0          Comprar
21609  6600060120    98146  400000.0          3      305000.0      Nao Comprar
21610  1523300141    98144  402101.0          3      450000.0          Comprar
21611   291310100    98027  400000.0          3      570500.0          Comprar
21612  1523300157    98144  325000.0          3      450000.0          Comprar

[21613 rows x 6 columns]

In [30]:
for index, row in df_purchase.iterrows():
    if (row['price'] < row['price_median']) & (row['condition'] >= 3 ):
        df_purchase.loc[index, 'purchase_suggest'] = 'Comprar'
    
    else: 
        df_purchase.loc[index, 'purchase_suggest'] = 'Nao Comprar'

In [32]:
df_purchase.columns

Index(['id', 'zipcode', 'price', 'condition', 'price_median',
       'purchase_suggest'],
      dtype='object')